<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 translate="settings.title">User settings</h2>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label translate="global.form.address">Address</label>
                    <input type="text" class="form-control" name="addressLine1" placeholder="{{'global.form.addressLine1.placeholder' | translate}}"
                           ng-model="settingsAccount.deliveryDetails.addressLine1" ng-maxlength=100 required maxlength="100">
                    <input type="text" class="form-control" name="addressLine2" placeholder="{{'global.form.addressLine2.placeholder' | translate}}"
                           ng-model="settingsAccount.deliveryDetails.addressLine2" ng-maxlength=100 maxlength="100">
                    <label translate="global.form.postcode">Postcode</label>
                    <input type="text" class="form-control" name="postcode" placeholder="{{'global.form.postcode.placeholder' | translate}}"
                           ng-model="settingsAccount.deliveryDetails.postcode" ng-maxlength=100 maxlength="100" required>
                    <label translate="global.form.city">City</label>

                    <input type="text" class="form-control" name="city" placeholder="{{'global.form.city.placeholder' | translate}}"
                           ng-model="settingsAccount.deliveryDetails.city" ng-maxlength=100 maxlength="100"
                           force-selection="true" options="placeOptions" g-places-autocomplete required>


                    <div ng-show="form.addressLine1.$dirty && form.addressLine1.$invalid &&
                     form.city.$dirty && form.city.$invalid &&
                     form.postcode.$dirty && form.postcode.$invalid">
                        <p class="help-block"
                           ng-show="form.addressLine1.$error.required" translate="global.messages.validate.address.required">
                            Your address is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.city.$error.required" translate="global.messages.validate.city.required">
                            Your city is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.postcode.$error.required" translate="global.messages.validate.postcode.required">
                            Your postcode is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.country.$error.required" translate="global.messages.validate.country.required">
                            Your country is required.
                        </p>
                    </div>
                </div>

                <div class="form-group">

                    <label translate="global.form.privacy.mode">global.form.privacy.mode</label>
                    <div class="radio">
                        <input name="openProfile" type="radio" ng-model="settingsAccount.openProfile" ng-value="true">
                        <label translate="global.form.open.profile">global.form.open.profile</label>
                    </div>

                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>
