<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

    <link rel="import" href="bower_components/polymer/polymer.html"/>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

    <dom-module id="hoozad-widget">
        <template>
            <style>
                :host {
                    display: inline-block;
                }
                .hoozad-widget{
                    width:200px;
                    height: 30px;
                }
            </style>
            <div ng-app="hoozadWidget"  ng-controller="MainController">
                <div ng-switch="isAuthenticated()">
                    <div angucomplete-alt="" ng-switch-when="true" id="search" placeholder="Search people"
                         pause="300" selected-object="selectedPerson"
                         local-data="people" search-fields="firstName,surname"
                         title-field="firstName,surname" description-field="twitter"
                         image-field="pic" minlength="1"
                         input-class="form-control form-control-small" match-class="highlight"
                         template-url="/scripts/widget/search-item.html">
                    </div>
                    <div ng-switch-when="false">
                        <jh-social type='block' target="_blank" create-auth-link="" external-account-provider="'facebook'">Sign in with Facebook</jh-social>
                    </div>
                </div>
            </div>
        </template>
    </dom-module>

    <script src="bower_components/angular/angular.js"/>
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"/>
    <script src="bower_components/angular-resource/angular-resource.js"/>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"/>

    <script src="scripts/widget/widget.js"/>
    <script src="scripts/components/auth/services/account.service.js"/>
    <script src="scripts/components/auth/principal.service.js"/>
    <script src="scripts/components/util/social.directive.js"/>
    <script src="scripts/widget/main/main.controller.js"/>

    <script th:inline="javascript">
        angular.module('hoozadWidget')
            .run(function($rootScope) {
                $rootScope.baseUrl = /*[[${@environment.getProperty('baseUrl')}]]*/ '';
            });
    </script>
</html>
